@import "../../styles/colors.scss";

.search {
  margin: 20px auto;
  display: flex;
  align-items: center;
  width: 400px;

  .search__input {
    font-size: 32px;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000;
    outline: 0;
    font-size: 26px;
    color: $black-color;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }

  .search__input:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-color: $red-color;
  }

  .search__button {
    cursor: pointer;
    margin-left: 10px;
    font-size: 30px;
  }

  .search__button:hover {
    color: $red-color;
  }
}
