@import "../../styles/colors.scss";

.beer-catalog-card {
  display: flex;

  width: 350px;
  height: 300px;
  margin: 20px;

  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;

  .beer-catalog-card__img-wrapper {
    display: flex;
    overflow: hidden;

    width: 60px;

    justify-content: center;
  }

  .beer-catalog-card__container {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;

    .beer-catalog-card__title {
      font-size: 32px;
      text-align: center;
    }

    .beer-catalog-card__tagline {
      font-size: 20px;
      text-align: center;
    }
  }
}
