@import "../../styles/colors.scss";

.table {
  width: 100%;

  border-collapse: separate;

  border: 1px solid $gray-color;
  border-radius: 5px;

  tbody td {
    padding: 10px;

    border-bottom: 1px solid $gray-color;
  }
  tr:last-child td:last-child {
    border: 0;
  }
}
